.right_screen {
    width: 85%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.right-top-nav {
    position: fixed;
    top: 0px;
    right: 0;
    height: 92px;
    width: 85%;
    z-index: 10;
    background-color: #E9ECF2;
}

.line {
    height: 2px;
    width: 90%;
    background-color: #696969;
    margin-left: 60px;
}

.contain-something {
    height: 90px;
    display: flex;
    flex-direction: row;
}

.contain-search {
    width: 70%;
    display: flex;
    align-items: center;
}

.empty {
    width: 8%;
    height: 100%;
}

.sub-contain-search {
    width: 70%;
    position: relative;
}

.sub-contain-search-svg {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.contain-search input {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 40px;
}

.mail-and-info {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

.mail-and-bell {
    height: 30px;
    width: 30px;
    margin: 0 20px;
    fill: #000;
}

.li-of-mail-bell {
    position: relative;
}

.li-of-mail-bell:hover {
    transform:  translateY(-3px);
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.mail-and-logo-mail, .list-of-mail {
    cursor: pointer;
}

.contain-avatar {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.img-of-contain-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.content-of-mail-inTopNav, .content-of-bell-inTopNav {
    z-index: 4;
    height: calc(100vh - 92px);
    position: fixed;
    top: 0px;
    right: 0;
    transition: transform 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateX(100%);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.content-of-bell-inTopNav {
    z-index: 3;
}

.topNav .show {
    transform: translateX(0);
    opacity: 1;
}

.topNav .close {
    transform: translateX(100%);
    opacity: 0.8;
    box-shadow: none;
}

.MessageInTopNav {
    background-color: #000;
}

.showNotice {
    transform: translateX(0);
}

.closeNotice {
    transform: translateX(100%);
}